@import "./styles/form.css";
@import "./styles/payment.css";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
	background: #f5f5f5;
}

.success {
	text-align: center;
	width: 100px;
	height: 100px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

